{% set stats = h.get_site_statistics() %}

<div class="metrics-bubbles margin-b-lg">

            <a href="{{ h.url_for(controller='package', action='search') }}" class="metrics-bubble ga-bubble-datasets">
              <span class="metrics-bubble__stat">{{ h.SI_number_span(stats.dataset_count) }}</span>
              <span class="metrics-bubble__label">{{ _('dataset') if stats.dataset_count == 1 else _('datasets') }}</span>
            </a>

            <a href="{{ h.url_for(controller='organization', action='index') }}" class="metrics-bubble ga-bubble-organisations">
              <span class="metrics-bubble__stat">{{ h.SI_number_span(stats.organization_count) }}</span>
              <span class="metrics-bubble__label">{{ _('organization') if stats.group_count == 1 else _('organizations') }}</span>
            </a>

            <a href="{{ h.url_for(controller='group', action='index') }}" class="metrics-bubble ga-bubble-groups">
              <span class="metrics-bubble__stat">{{ h.SI_number_span(stats.group_count) }}</span>
              <span class="metrics-bubble__label">{{ _('group') if stats.group_count == 1 else _('groups') }}</span>
            </a>

        </div>
