<div class="hero">
  <div class="container">



          <h1>Open data for nature-based solutions</br>to hydro-meteo risks</br><img class="home-pin" src="/operandum/images/mapdrop.png" alt=""></h1>



  </div>

</div>

<div class="site-layout">
<div id="main" id="content">
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}

    {% snippet 'home/snippets/stats.html' %}

    <div class="margin-b-lg">
      <h2>About the Operandum project</h2>
      <p>{{ g.site_intro_text }}</p>
    </div>
    <hr class="mxw-xs margin-b-lg">

    <div class="margin-b-lg">
      <h2>Datasets by group</h2>
      <div class="row">
        <ul class="menu blog-filter-menu">
          {%- set groups = h.get_featured_groups(20) -%}
          {%- for group in groups -%}

            <li>
              <a href={{ h.url_for(controller="group", action="read", id=group.name) }} class="category-select">{{ group.display_name }}</a>
            </li>
          {%- endfor -%}

        </ul>
      </div>
    </div>
    <hr class="mxw-xs margin-b-lg">
  </div>
</div>
